---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Vivek Raina - AI/ML Developer from India 🇮🇳.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>TensorFlow</li>
        <li>Keras</li>
        <li>Deep Learning</li>
        <li>Computer Vision</li>
        <li>NLP</li>
        <li>Agentic AI</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I'm passionate about exploring the latest advancements in artificial intelligence, contributing to open-source projects, and continuous learning.
    </p>
  </div>
</Card>
